@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

span{
    margin-right: 10px;
}

mat-form-field {
    margin-right: 10px;
}

.left-style{
    float:left;
    width:45%;
}
.right-style{
    float:right;
    width:45%;

}

.produit{
    border:  1px red;
    margin-bottom: 10px;
}