<app-navbar></app-navbar>

<div class="container">
  <div class="form-group">
    <span>Utilisateur :</span>
    <mat-form-field>
      <mat-select placeholder="Utilisateur" name="user" [(value)]="user">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.nom}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>Magasin :</span>
    <mat-form-field>
      <mat-select placeholder="Magasin" name="magasin" [(value)]="magasin">
        <mat-option *ngFor="let magasin of magasins" [value]="magasin.id">
          {{magasin.nom}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="container">
    <div *ngFor="let produit of produits">
      <app-produit (produitsToSave)="ajouterProduit($event)" [produit]="produit"></app-produit>
    </div>
  </div>
  <div class="button">
    <button (click)="passerCommande()" class="btn btn-success"> Passer commande </button>
  </div>
</div>